{% extends 'base.html' %}

{% block title %}About{% endblock %}
{% block heading %}About{% endblock %}
{% block content %}
<div class="container mx-auto pb-5">
    <h3 class="text-center pb-2">How Are The Food Footprints Calculated? </h3>
    <p class="text-center">
        The total emissions produced by each item account for land use 
        changes, feed (for animals), farming operations, processing, 
        transportation, packaging, and retail operations (Nemecek & 
        Poore, 2018). Follow the link in the citation below to read 
        the peer reviewed research that supports the Food Footprint 
        Calculator.
    </p>
    <p class="text-center">
        Nemecek, T., & Poore, J. (2018). Reducing food's 
        environmental impacts through producers and consumers. 
        <em>Science, 360</em>(6392), 987-992. 
        <a href="https://www.science.org/doi/10.1126/science.aaq0216" target="_blank" class="link-info">
            https://www.science.org/doi/10.1126/science.aaq0216
        </a>
    </p>
</div>
{% endblock %}

