<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFC: {% block title %}{% endblock %}</title>
</head>
<body>
    <ul id="nav_links">
        <li><a href="/">Home</a></li>
        <li><a href="/food_list">Food List</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <h1>{% block heading %}Food Footprint Calculator{% endblock %}</h1>
    <div>{% block content %}{% endblock %}</div>
</body>
</html>