{% extends 'base.html' %}

{% block title %}Footprint Calculator{% endblock %}
{% block heading %}{{ item_name }} Footprint Calculator{% endblock %}

{% block content %}
    <!-- Form for user to input food amount and select units 
        (calculator inputs) -->
    <form action="/results", method="GET">
        <input type="hidden" name="item_name" value="{{ item_name }}">
        <input type="number" name="mass">
        <select name="units">
            <option value="lb">Pounds</option>
            <option value="oz">Ounces</option>
            <option value="mg">Miligrams</option>
            <option value="g">Grams</option>
            <option value="kg">Kilograms</option>
            <option value="ton (metric)">Tons (Metric)</option>
            <option value="ton (us)">Tons (US)</option>
            <option value="ton (imperial)">Tons (Imperial)</option>
            <option value="st">Stone</option>
        </select>
        <p><input type="submit" value="Calculate"></p>
    </form>

    <!-- Additional navigation button for optional next action -->
    <a href="/food_list"><button>Back to Food List</button></a>
{% endblock %}