{% extends 'base.html' %}

{% block title %}Grocery Stores{% endblock %}
{% block heading %}Grocery Stores{% endblock %}
{% block content %}
    <p>
        Now that you are thinking about food choices, you may want to visit a grocery store near you. 
        Enter your city and state below to find grocery stores in your area.
    </p>
    <form action="/grocery_search" method="GET" target="_blank">
        <input type="text" name="city">
        <input type="text" name="state">
        <input type="submit" value="Search">
    </form>
{% endblock %}

